// main colors
$primary: #6DB6FB;
$warning: #fdde03;
$bright-yellow: #f9e000;
$bright-yellow-2: #FDF205;
$bright-yellow-3: #F9E002;
$warm-yellow: #f6b632;
$secondary-blue: #0A3E70;
$dark-blue: #0a3e70;
$light-blue: #B0D6FA;
$light-blue-2: #94D5FE;
$light-blue-3: #6DB6FB;
$gray: #555555;
$gray-secondary: #464646;
$dark-gray: #212529;
$white: #FFFFFF;
$light-gray: #e1e1e1;
$light-gray-2: #ebebed;
$light-gray-3: #d4d4d4;
$light-gray-4: #dee2e6;
$light-gray-5: #eaeaea;
$black: #000000;

// header
$header-text: #0A3E70;
$header-background: #B0D6FA;

// language
$language-button: #A2CFF9;

// disclaimer
$disclaimer-color: #959595;

// big boxes
$left-background: #fef504;
$right-background: #8fd2fe;
$right-background-gradient: linear-gradient(to right, $right-background, darken($right-background, 3)); ;

// search form
$search-form-text-unselected: #fff;
$search-form-tab-unselected: #0a3e70;

// top bar
$top-bar-background: #0a3e70;
$social-icon-background-color: #456db0;
$social-icon-color: white;
$item-hover: #fde008;

// testimonies
$testimony-text-color: #5a4f00;

// popular cars
$popular-cars-container-background: #dee2e6;
$price-container-background: #00adef;
$price-container-shadow: #0092cd;
$price-color: #fcfcfc;
$discount-color: #f9df02;
$view-all-color: #ebebeb;

// our services
$our-services-background: #5a6268;
