meta(property='schema:accessibilitySummary', content="This website conforms the SoundFord dealership online webpage.")
meta(property='schema:accessMode', content="textual")
meta(property='schema:accessMode', content="visual")
meta(property='schema:accessModeSufficient', content="textual,visual")
meta(property='schema:accessModeSufficient', content="textual")
meta(property='schema:accessibilityFeature', content="structuralNavigation")
meta(property='schema:accessibilityFeature', content="MathML")
meta(property='schema:accessibilityFeature', content="alternativeText")
meta(property='schema:accessibilityFeature', content="longDescriptions")
meta(property='schema:accessibilityAPI', content="ARIA")
meta(property='schema:accessibilityControl', content="fullKeyboardControl")
meta(property='schema:accessibilityControl', content="fullMouseControl")
meta(property='schema:accessibilityControl', content="fullTouchControl")
meta(property='schema:accessibilityHazard', content="noFlashing")
meta(property='schema:accessibilityHazard', content="noSound")
meta(property='schema:accessibilityHazard', content="noMotionSimulation")
