button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
  | Launch demo modal
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .d-flex.justify-content-end
        button.close.mr-4.mt-4(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            img(src=giftCardModal.closeIcon)
      .modal-body.custom-modal
        .row.justify-content-center.custom-modal-paragraph
          img.mock(src=giftCardModal.image)
        .row.justify-content-center
          h2.custom-modal-title
            | Thanks!
        .row.justify-content-center.custom-modal-paragraph
          | Now that you’re on our email list you’ll be amongst the first to hear about price alerts and new inventory
        .row.justify-content-center
          button.grad-btn
            | OK, got it