section.text-center.background-pay-car.card-mobile
  h1.paddin Popular Cars
  #carousel-card.carousel.slide(data-ride='carousel')
    .carousel-inner
        .carousel-item
          .card
            img.card-img-top(src='', alt='Card image cap')
            .div-pay $30,000
            .card-body.card-body-height
              p.pre-owned Pre owned
              p.text-pre-owned Tahoe
              p.miles 300 miles
              p.miles $539/month
              button.style-button-form-learn(href='#') Show more
    a.carousel-control-prev(href='#carousel-card', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carousel-card', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  button.btn.btn-primary.color.props-button-card(href='#') VIEW ALL CARS
section.text-center.background-pay-car.card-web
  h1.paddin Popular Cars
  .car-div
    .row
        .col
          .card
            img.card-img-top(src='')
            .div-pay $30,000
            .card-body.card-body-height
              p.pre-owned Pre owned
              p.text-pre-owned Tahoe
              p.miles 300 miles
              p.miles $539/month
              button.style-button-form-learn(href='#') Show more
  button.props-button(href='#', role='button')
    | VIEW ALL CARS
