.search-box-container
  .search-box
    #search-box
      search-box

script.
  const searchBox = !{JSON.stringify(searchForm)}
  const phoneNumber = !{JSON.stringify(header.phone)}
//- iframe(src="/setster", style="height: 300px; width: 100%; border: none;")