node_modules
DS_Store
.idea
/sites/.DS_Store
.DS_Store
*.jse
/**/**/public/**
/sites/ford/public/*
/sites/ford/public
public/*
public
/themes/default/resources/scss/style.scsse
/themes/v2/resources/scss/style.scsse
app.yaml
config.yaml
yarn.lock
npm-debug\.log
themes/v2/resources/js/dist/*
