.color-white {
  color: #ffffff !important;
}

.style-button{
  padding: 10px;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background:#00adef ;
  border: none;
  width: 150px;
}
