.style-icon-button {
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  background: #3867ad;
  border: none;
  position: relative;
}